POSTGRES_DB=faas
POSTGRES_USER=faas
POSTGRES_PASSWORD=faas
DATABASE_URL=postgres://faas:faas@db:5432/faas?sslmode=disable
ACCESS_TOKEN_SECRET=change_me
RUSTFS_ROOT_USER=rustfs
RUSTFS_ROOT_PASSWORD=rustfs_password
S3_ENDPOINT=rustfs:9000
S3_ACCESS_KEY=rustfs
S3_SECRET_KEY=rustfs_password
S3_USE_SSL=false
S3_BUCKET=faas
S3_PUBLIC_BASE_URL=http://localhost:9000